[submodule "deps/scap_private"]
	path = deps/scap_private
	url = https://github.com/dyson-labs-org/tasklib
[submodule "vendor/tasklib"]
	path = vendor/tasklib
	url = https://github.com/dyson-labs-org/tasklib.git
